# ===============================
# ✅ React Native + Expo + Backend
# ===============================

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment files
.env
.env*.local
backend/.env

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android

# IDE configs
.idea/
.vscode/

# Build outputs
dist/
build/

# Others
*.log

# Python dosyaları
*.py
*.pyc
__pycache__/